*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.body{
    background-image: url("https://images.unsplash.com/photo-1518031571452-5f37a6d8fb62?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    min-height: calc(100vw * .45);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.container{
    width: 80%;
    height: 90%;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;

}

.container_h1{
    font-size: 22px;
    text-align: center;
}

form > input{
    width: 100%;
    height: 40px;
    padding: 10px;
}

.form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container_p, form > input{
    font-size: 13px;
    border: 1px solid rgb(192, 187, 187);
    border-radius: 3px;
}

form > input:focus{
    outline:none
}

.submit{
    background: rgb(233,66,255);
    background: linear-gradient(90deg, rgba(225,132,237,1) 0%, rgba(56,167,255,1) 100%);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.submit:hover{
    transition-property: color;
    transition-duration: 500ms;
    color: rgb(32, 59, 109);
}
.container_p{
    text-align: center;
    border: 0;
}

.container_p a {
    color: black;
    font-weight: bold;
}


@media (min-width: 360px){
    .form{
        justify-content: space-around;
    }
}


@media (min-width: 660px){
    .container{
        padding: 50px
    }
}

@media (min-width: 960px){
    .container{
        font-size: 16px;
    }
    .container_p, form > input{
        font-size: 16px;
    }
    .submit{
        font-size: 17px;
    }
    .container_h1{
        font-size: 25px;
    }
    form > input{
        height: 50px;
        padding: 15px;
    }
}